*,
*::before,
*::after {
    box-sizing: border-box;
}


/* custom properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'JetBrains Mono', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #1C1C1EFF;
    --clr-accent: #81a2ff;
    --clr-drkmode: #303030;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width:800px) {
     :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


/* styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--clr-drkmode);
        color: var(--clr-light);
    }
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}


/* buttons */

.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.2);
}


/* typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}


/* navbar */

header {
    background-color: var(--clr-dark);
}

.top__navbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: var(--ff-secondary);
    font-size: 1rem;
}

.navbar__li {
    display: list-item;
    padding: 0.5rem 0.5rem;
}

@media(max-width: 600px) {
    .navbar__li {
        font-size: 0.7rem;
        padding: 0.5rem 0.1rem;
    }
}

.navbar__links {
    display: block;
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    list-style: none;
    padding: 14px 1vw;
    text-decoration: none;
    white-space: nowrap;
}

.navbar__links:hover {
    background-color: #111;
}


/* navbar end */


/* contents */

.backbutton {
    text-decoration: none;
    color: var(--clr-accent);
}

.section__main {
    margin-bottom: 0.25em;
    font-weight: var(--fw-reg);
    font-family: var(--ff-primary);
}

.section__main {
    max-width: 1000px;
    margin: 0 auto;
}

.section__subtitle--main {
    background: var(--clr-accent);
    padding: .5em;
    font-family: var(--ff-secondary);
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.image {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}

.textlinks {
    color: var(--clr-accent);
    font-family: var(--ff-primary);
    text-decoration: none;
}

.description {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 2em;
}


/* contents end */


/* footer */

.footer__bottom {
    background-color: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__bottom a {
    color: inherit;
    text-decoration: none;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: 0.7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 0.5em;
}

.social-list__link {
    padding: 0.5em;
}


/* footer end */